<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Danh Sach Linh Kien</h2>
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>Ma Linh Kien</th>
                    <th>Ten Ten Linh Kien</th>
                    <th>Gia</th>
                    <th>Don Vi</th>
                    <th>Thong So</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <% _.forEach(data.Items, function(value) { %>
                <tr>
                    <td><%= value.maLK %></td>
                    <td><%= value.tenLK %></td>
                    <td><%= value.gia %></td>
                    <td><%= value.donVi %></td>
                    <td><%= value.thongSo %></td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="check" onclick="addLK('<%= value.maLK %>')">
                        </div>
                    </td>
                    <!-- <td><img style=" width: 50px; height: 50px; border-radius: 50%;"  src="https://baitapcnm.s3.amazonaws.com/<%= value.avatar %>" alt=""> -->
                    <!-- </td>
                    <td><a href="/sinhvien/delete/<%= value.id %>" class="btn btn-danger">Delete</a>
                        <a href="/sinhvien/update/<%= value.id %>" class="btn btn-info">Update</a></td> -->
                </tr>
                <% }) %>


            </tbody>
        </table>
        <a href="/linhkien/add" class="btn btn-success">Them Linh Kien</a>
        <a class="btn btn-danger" style="float: right; margin-right: 30px;" id="delete">Xoa</a>

    </div>
</body>
<script>
    var arrlk = [];
    function addLK(id) {

        arrlk.push(id);
         arrlk = [...new Set(arrlk)];
        console.log(arrlk)
        //document.getElementById("btnDelete").href(`/api/linhkiens/delete/+${arrlk}}`);
        document.getElementById("delete").setAttribute('href', `/linhkien/delete/${arrlk}`);


    }


</script>

</html>